
<section id="aboutUs" class="pageFull">
    <div class="container">
        <div class="col-md-12 aboutUs_content">
            <div style="padding-top:150px; padding-bottom: 300px;" class="textContainer">
                <h2>About us</h2>
                <p>We LOVE tea! As simple as that! And we are here to share this feeling with you!<br />Whether it is served on a sunny morning on the patio or while snuggling under a warm blanket on a snowy night, or anything in between; whether you hold a cup of tea with friends at the dinner table or around a campfire; whether you drink it at your office desk or in front of the TV, everywhere and anytime is a good time to enjoy this magnificent essence of nature.<br />At Liya, we believe that every moment is more pleasurable with the delightful taste and alluring aroma of tea. This belief encouraged us to supply the finest tea that has been sustainably grown, diligently processed and delicately packaged.</p>
            </div>
        </div>
    </div>
</section>