<section id="history" class="pageFull">
    <div class="container">
        <div class="col-md-12 history_content">
            <div style="padding-top: 300px; padding-bottom:300px;" class="textContainer">
                <h2>History</h2>
                <p>Our love for tea comes from four passionate generations, working in all sectors of the industry. They grew and maintained tea plants on scenery hillsides, hand-plucked the perfectly fresh tea buds and leaves, and tirelessly processed them to perfection. Most of the production steps used to be performed by handhence, a lot of effort and dedication were required to extract excellent taste and incredible aroma of the tea. Every step of the work was supervised by tea masters who have become local experts over the course of decades.<br /> Innovation and improvement have greatly contributed to our success, One of our ancestors modified and  upgraded some of equipment that were used to dry the hand rolled tea leaves.<br />Currently, with all new technologies and machinery, manufacturing has been significantly simplified; but nothing would replace the golden touch of farmers that pluck the right number of leaves to produce magnificent premium tea.</p>
            </div>
        </div>
    </div>
</section>