<section class="hero pageFull" id="home">
    <div class="container">
        <div class="col-md-12 home_content">
            <div style="padding-top:20px; padding-bottom: 300px;">
                <h1>liya,</h1>
                @*<h1 class="fontAngelina">liya,</h1>*@
                <h2>quality in every drop!</h2>
            </div>
        </div>
    </div>
</section>