<section id="sustainability" class="pageFull">
<div class="container">
    <div class="col-md-12 sustainability_content">
        <div style="padding-top: 300px; padding-bottom:300px;" class="textContainer">
            <h2>Sustainability</h2>
            <p>Our tea famers are undeniably passionate about their farms and what they grow on them. Each generation has passed this feeling to the next. At Liya, our mission is to keep the flame of this passion alive by appreciating the hardworking farmers and encourage their efforts to grow high quality tea leaves. We have significantly shortened the supply chain; While this would benefit the consumers with a reasonable price for a premium product, farmers would receive a fair share for their diligence.<br />Mother nature is helping us a lot to keep the growing sustainable, as the tea bushes are completely resistant to all local pests and there is zero need for any pesticide. In addition, due to great soil fertility and well maintaining of the farms, use of chemical fertilizer is barely required. </p>
            @*<a href="#" class="btn btn-primary">Buy now</a>*@
        </div>
    </div>
</div>
</section>