@*<!DOCTYPE html>
    <html>*@
<head>
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <style>

    </style>
</head>
<body>
    @{
        Html.RenderPartial("_IntroLiya");
    }

    @{
        Html.RenderPartial("_about");
    }


    @{
        Html.RenderPartial("_history");
    }


    @{
        Html.RenderPartial("_sustainability");
    }

    @{
        Html.RenderPartial("_product");
    }


    @{
        Html.RenderPartial("_contact");

    }




</body>
@*</html>*@
